@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gilroy-regular;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: gilroy-bold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: gilroy-light;
  src: url("./assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: gilroy-medium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: gilroy-semibold;
  src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: gilroy-extrabold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

.box {
  @apply rounded-lg border border-solid border-slate-200 p-5 dark:border-zinc-600;
}
